

/*change the color of the background*/
body{
	background-color: #00ccff;
	font-color: white; 
}

/*add a text shadow to the font*/
h1{
	font-color: red;
	text-shadow: 1.5px 1.5px orange;
}

h2{
	font-color: white;
	text-shadow: 1.5px 1.5px orange;
}

/* edit the home page image */
img{
	width: 250px;
	height: 250px;
	border-radius: 80%;
	object-fit: fill;
	box-shadow: 6.5px 6.5px;
}

/*change the color of the text*/
a:text{
	color: white;
}

/* make the color of links orange*/
a:link{
	color: orange;
}

/* change the color of visited links red */
a:visted{
	color: red;
}


/* color links you hover over white */
a:hover{
	color: white;
}

a:active{
	color: red;
}

